@use "./variables" as *;
@use "./mixins" as *;

@font-face {
    font-family: 'Avenir-Regular';
    src: url('/assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    // src: url('/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    // src: url('/assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url('/assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
    // src: url('/assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    // src: url('/assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('/assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    // src: url('/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    // src: url('/assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2');
    font-weight: 700;
}

// Extends
.page-header{
    font-size: 60px;
    line-height: 68px;
    font-family: 'Avenir-Bold';

    @include mobile-only{
        font-size: 24px;
        line-height: 32px;
        font-family: 'Avenir-Bold';
    }
}

.section-header{
    font-size: 36px;
    line-height: 44px;
    font-family: 'Avenir-Bold';

    @include mobile-only{
        font-size: 24px;
        line-height: 32px;
        font-family: 'Avenir-Bold';
    }
}

.subheader{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Avenir-Demi';
    @include mobile-only{
        font-size: 14px;
        line-height: 22px;
        font-family: 'Avenir-Demi';
    }
}

.body-copy{
    font-size: 14px;
    line-height: 22px;
    font-family: 'Avenir-Regular';
    @include mobile-only{
        font-size: 13px;
        line-height: 18px;
        font-family: 'Avenir-Regular';
    }
}

.footer-copy{
    font-size: 14px;
    line-height: 20px;
    font-family: 'Avenir-Regular';
    @include mobile-only{
        font-size: 13px;
        line-height: 18px;
        font-family: 'Avenir-Regular';
    }
}

.label-or-button{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Avenir-Bold';
    @include mobile-only{
        font-size: 10px;
        line-height: 20px;
        font-family: 'Avenir-Bold';
    }
}

.headline-spacing{
    padding: 48px 0 36px 0;

    @include mobile-only{
        padding: 24px 0 16px 0;
    }
}

.margin-format{
    @include mobile-only {
        margin: 0 16px;
    }

    @include tablet {
        margin: 0 36px;
    }

    @include desktop {
        margin: 0 10vw;
    }    
}



// .reponsive-container{
//     flex-direction: row;

//     @include mobile-only{
//         flex-direction: column;
//     }
// }

// todo remove padding and margins from h1 etc, p, + more

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
}

.header{
    background-color: $color-primary-bandsite-black;
    display: flex;
    
    @include mobile-only{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 24px;
    }
    
    @include tablet {
        justify-content: flex-start;
        align-items:baseline;
        & > *{
            margin-left: 32px;
        }

    }

    @include desktop{
        & > .logo__container{
            margin-left: 10vw;
        }
        
    }   

    .navigation{
        @include mobile-only{
            width: 100%;
        }
        
        @include tablet{
            
        }

        &__ulist{
            display:flex;
            // justify-content: space-around;
            width: 100%;
            .navigation__item{
                width: 50%;
                @include tablet{
                    margin-right: 32px;
                }
                
                text-align: center;
                @extend .subheader;

                .navigation__link{
                    color: $color-secondary-bandsite-mercury;
                    border-bottom: solid transparent 2px;
                    display: block;
                    padding: 24px 0;
                    width: 100%;

                    &:hover{
                        border-bottom: solid rgba($color-primary-white, 1) 2px;
                        color: $color-primary-white;
                    }

                    &.active-page{
                        border-bottom: solid rgba($color-primary-white, 1) 2px;
                        color: $color-primary-white;
                        font-weight: bold;
                    }

                }
            }
        }
    }
}

.footer{
    background-color: $color-primary-bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-primary-white;
    // @include tablet{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
    .footer-top{
        @extend .margin-format;
        display: flex;
        justify-content: space-between;
        align-items:last center;
        &__left-container{   
            .social-media{
                display: flex;
                flex-direction: column;
                // todo media query here changes flex-direction to row for tablet+
                @include tablet{
                    flex-direction: row;
                    align-items: center;
                }
                        
                &__title{
                @extend .headline-spacing;
                @extend .section-header;
                color: $color-primary-white;
                margin-right: 32px;
                }
    
                &__icon-container{
                    display: flex;
                    
                    .social-media__icon{
                        
                        @include mobile-only{
                            padding: 0 32px 16px 0px;
                        }
    
                        @include tablet{
                            padding: 0 32px 0 0;
                        }
                        .social-media__icon__link{
                            .social-media__icon__image{
                                height: 1.5em;
                            }
                        }
                    }
                }
            }
        }

        &__right-container{
            .footer-container-right{
                width: auto;
                
        
                @include mobile-only{
                    display: none;
                }
            }
        }
    }
    .footer-bottom{
        @extend .margin-format;
        display: flex;
        flex-direction: column;
        .business-contacts{
            display: flex;
            
            @include mobile-only{
                margin-bottom: 40px;
                flex-direction: column;
            }
            @include tablet{
                margin-bottom: 36px;
                flex-direction: row;
                // justify-content: space-between;
            }
            &__contact-profile{
                @include mobile-only{
                    margin-bottom: 16px;
                }
                @include tablet{
                    margin-bottom: 40px;
                    // min-width: 30%;
                    min-width: 244px;
                }

                .business-contacts__contact-group{
                    @include mobile-only{
                        margin-bottom: 16px;
                    }
                    @include tablet{
                        margin-bottom: 24px;
                    }
                    .business-contacts__name{
                        @extend .footer-copy;
                        font-weight: bold;
                    }
            
                    .business-contacts__affiliation{
                        @extend .footer-copy;
                        font-weight: bold;
                    }
                    
                    .business-contacts__location-line-one{
                        @extend .footer-copy;
                    }

                    .business-contacts__location-line-two{
                        @extend .footer-copy;
                    }

                    .business-contacts__email{
                        @extend .footer-copy;
                    }
                }
            }
        }

        .copyright{
            .copyright__text{
                @extend .footer-copy;

                @include mobile-only{
                    margin-bottom: 16px;
                }

                @include tablet{
                    margin-bottom: 36px;
                }

                
            }
        }

    }

    .logo__container{
        background-color: $color-primary-bandsite-black;
        max-width: 120px;
        max-height: 20px;
        @include mobile-only{
            margin-bottom: 16px;
        }
        
        .logo__link{
            
            .logo{
                
            }
        }
    }    
}

.logo__footer-container{
    &--bottom{
        @extend .logo__container;       
        @include tablet{
            display: none;
        }
    }
    &--top{
        
        @extend .logo__container;
    }
}