@use "./variables" as *;

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(assets\fonts\AvenirNextLTPro-Regular.otf) format('');
}

* {
    box-sizing: border-box;
}
  
body {
margin: 0;

}

a {
color: unset;
text-decoration: unset;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.header{

}

.logo__container{
    background-color: $color-primary-bandsite-black;
    .logo{
        text-transform: uppercase;
        color: $color-primary-white;
    }
}