@use "./variables" as *;
@use "./mixins" as *;

@include remove-default-styling;

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 600;
}



// Extends
.page-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;

    @include tablet{
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 500;
    }
}

.section-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;

    @include tablet{
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 500;
    }
}

.subheader{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;

    @include tablet{
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 500;
    }
}

.body-copy{
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 400;
    
    @include tablet{
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 400;
    }
}

.footer-copy{
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 400;
    @include tablet{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 400;
    }
}

.label{
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;    
    
    @include tablet{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;
    }
}

.button{
    @extend .label;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0 2rem;
    background-color: $color-primary-bandsite-black;
    color: $color-primary-white;
    width: 100%;
    text-transform: uppercase;
    @include tablet{
        min-width:9.375rem;
        width: 10%;
    }

    &:hover{
        background-color: $color-secondary-bandsite-darkblack;
    }
}

.headshot-container{
    width: 15%;
    padding-top: 2.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

.headline-spacing{
    padding: 1.5rem 0 1rem 0;

    @include tablet{
        padding: 3rem 0 2.25rem 0;
    }
}

.margin-format{
    margin: 0 1rem;    

    @include tablet {
        margin: 0 2.25rem;
    }

    @include desktop {
        margin: 0 10vw;
    }    
}

.padding-format{
    padding: 0 1rem;    

    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        padding: 0 10vw;
    }    
}

.show-list-padding-format{
    @include tablet {
        padding: 0 1.25rem;
    }
}

.bold{
    font-weight: 900;
}

.header{
    background-color: $color-primary-bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;    
    
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items:baseline;
        padding-top: 0;

        & > *{
            margin-left: 2rem;
        }
    }

    @include desktop{
        & > .logo__container{
            margin-left: 10vw;
        }        
    }   

    .navigation{
        width: 100%;       
        
        @include tablet{
            width: unset;
        }

        &__ulist{
            display:flex;
            width: 100%;

            .navigation__item{
                width: 50%;
                text-align: center;
                @extend .body-copy;

                @include tablet{
                    margin-right: 2rem;
                }
                
                .navigation__link{
                    color: $color-secondary-bandsite-mercury;
                    border-bottom: solid transparent 0.125rem;
                    display: block;
                    padding: 1rem;
                    width: 100%;

                    @include tablet {
                        padding: 1.5rem 0;
                    }

                    &:hover{
                        border-bottom: solid rgba($color-primary-white, 1) 0.125rem;
                        color: $color-primary-white;
                    }

                    &.active-page{
                        border-bottom: solid rgba($color-primary-white, 1) 0.125rem;
                        color: $color-primary-white;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}



.footer{
    background-color: $color-primary-bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-primary-white;
    .footer-top{
        @extend .margin-format;
        display: flex;
        justify-content: space-between;
        align-items:last center;
        &__left-container{   
            .social-media{
                display: flex;
                flex-direction: column;
                
                @include tablet{
                    flex-direction: row;
                    align-items: center;
                }
                        
                &__title{
                @extend .headline-spacing;
                @extend .section-header;
                color: $color-primary-white;
                margin-right: 2rem;
                }
    
                &__icon-container{
                    display: flex;
                    
                    .social-media__icon{
                        padding: 0 2rem 1rem 0;                        
    
                        @include tablet{
                            padding: 0 2rem 0 0;
                        }

                        .social-media__icon__link{
                            .social-media__icon__image{
                                height: 1.5em;
                            }
                        }
                    }
                }
            }
        }

        &__right-container{
            @include mobile-only{
                display: none;
            }            
        }
    }

    .footer-bottom{
        @extend .margin-format;
        display: flex;
        flex-direction: column;

        .business-contacts{
            display: flex;
            margin-bottom: 2.5rem;
            flex-direction: column;

            @include tablet{
                margin-bottom: 2.25rem;
                flex-direction: row;
            }

            &__contact-profile{
                margin-bottom: 1rem;
                
                @include tablet{
                    margin-bottom: 2.5rem;
                    min-width: 15.25rem;
                }

                .business-contacts__contact-group{
                    @extend .footer-copy;
                    margin-bottom: 1rem;
                    
                    @include tablet{
                        margin-bottom: 1.5rem;
                    }
                    
                    .business-contacts__name{
                        font-weight: 500;
                    }
            
                    .business-contacts__affiliation{
                        font-weight: 500;
                    }
                }
            }
        }

        .copyright{
            .copyright__text{
                @extend .footer-copy;
                margin-bottom: 1rem;

                @include tablet{
                    margin-bottom: 2.25rem;
                }                
            }
        }
    }

    .logo__container{
        background-color: $color-primary-bandsite-black;
        max-width: 7.5rem;
        max-height: 1.25rem;
        margin-bottom: 1rem;
        
        @include tablet{
            margin-bottom: unset;
        }
    }    
}

.logo__footer-container{
    &--bottom{
        @extend .logo__container;       
        @include tablet{
            display: none;
        }
    }
    &--top{        
        @extend .logo__container;
    }
}