$color-primary-bandsite-black: #323232;
$color-primary-silver: #323232;
$color-primary-white: #FFFFFF;

$color-secondary-bandsite-darkblack: #000000;
$color-secondary-bandsite-mercury: #E1E1E1;
$color-secondary-bandsite-alabaster: #FAFAFA;




