@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero__section{
    position: relative;
    display: flex;
    align-items: center;
    .hero__image{
        width: 100%;
    }
    .hero__overlay{
        position: absolute;
        background: rgba($color-primary-bandsite-black, 0.5);
        display: flex;
        align-items: center;
        inset: 0;
    }
    .hero__title{
        position: absolute;
        padding-left: 1rem;
        
        @include tablet{
            padding-left: 2.25rem;
        }

        @include desktop{
            padding-left: 10vw;
        }
        @extend .page-header;
        color: $color-primary-white;
    }
}

.main{
    .about__section-header{
        @extend .headline-spacing;
        @extend .section-header;
        color: $color-primary-bandsite-black;
        @extend .margin-format;
    }
    .about{
        @extend .margin-format;
        @include tablet{
            margin: 0 10vw 2.25rem;
        }

        @include desktop {
            margin: 0 15vw 2.25rem;
        }

        &__quote-container{
            .about__quote{
                @extend .subheader;
                @extend .headline-spacing;
                padding-bottom: 1rem;
                color: $color-primary-bandsite-black;
            }

            .about__quote-author{
                @extend .subheader;
                
                color: $color-primary-bandsite-black;
            }
        }

        
        // @extend .margin-format;
        &__bio-title{
            @extend .headline-spacing;
            @extend .subheader;
            color: $color-secondary-bandsite-darkblack;
        }

        &__bio-text-container{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            @include tablet{
                flex-direction: row;
            }
            
            .about__bio-text{
                display: block;
                @extend .body-copy;
                color: $color-primary-bandsite-black;

                @include tablet{
                    max-width: 47%;//todo
                }

                @include mobile-only{
                    margin-bottom: 1rem;
                }
            }
        }
        
    }
    
    .format-container{
        background-color: $color-secondary-bandsite-alabaster;

        .photo-gallery{
            @extend .margin-format;    
            @include tablet{
                padding-bottom: 2.25rem;
            }

            &__title{
                @extend .headline-spacing;
                @extend .section-header;
                color: $color-primary-bandsite-black;
            }
            
            &__container{
                display: flex;
                justify-content: center;
                flex-direction: column;                
    
                @include tablet{
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 2rem;
                }
    
                .photo-gallery__item{
                    @include tablet{
                        flex-grow: 1;
                        flex-basis: 30%;
                    }                
                                
                    .photo-gallery__image{
                        @include mobile-only{
                            margin-bottom: 1rem;
                        }                 
                    }
                }  
            }            
        }
    }
}

