@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.main{
    
    .about__section-header{
        @extend .headline-spacing;
        @extend .section-header;
        color: $color-primary-bandsite-black;
        @extend .margin-format;
    }
    .about{
        @extend .margin-format;
        background-color: $color-primary-white;
        @include tablet{
            margin: 0 10vw 2.25rem;
        }

        @include desktop {
            margin: 0 15vw 2.25rem;
        }

        &__quote-container{
            .about__quote{
                @extend .subheader;
                @extend .headline-spacing;
                padding-bottom: 1rem;
                color: $color-primary-bandsite-black;
            }

            .about__quote-author{
                @extend .subheader;
                @include tablet{
                    font-size: 1.2rem;
                }
                
                color: $color-primary-bandsite-black;
            }
        }

        
        // @extend .margin-format;
        &__bio-title{
            @extend .headline-spacing;
            @extend .subheader;
            color: $color-secondary-bandsite-darkblack;
        }

        &__bio-text-container{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            @include tablet{
                flex-direction: row;
            }
            
            .about__bio-text{
                display: block;
                @extend .body-copy;
                color: $color-primary-bandsite-black;

                @include tablet{
                    max-width: 47%;//todo
                }

                @include mobile-only{
                    margin-bottom: 1rem;
                }
            }
        }
        
    }
    
    .format-container{
        background-color: $color-secondary-bandsite-alabaster;

        .photo-gallery{
            @extend .margin-format;    
            @include tablet{
                padding-bottom: 2.25rem;
            }

            &__title{
                @extend .headline-spacing;
                @extend .section-header;
                color: $color-primary-bandsite-black;
            }
            
            &__container{
                display: flex;
                justify-content: center;
                flex-direction: column;                
    
                @include tablet{
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 2rem;
                }
    
                .photo-gallery__item{
                    @include tablet{
                        flex-grow: 1;
                        flex-basis: 30%;
                    }                
                                
                    .photo-gallery__image{
                        @include mobile-only{
                            margin-bottom: 1rem;
                        }                 
                    }
                }  
            }            
        }
    }
    .format-container{
        .comments-section{
            @extend .margin-format;    
            @include tablet{
                padding-bottom: 2.25rem;
            }
            &__title{
                @extend .headline-spacing;
                @extend .section-header;
                color: $color-primary-bandsite-black;
            }

            &__new-comment-container{
                display: flex;

                // justify-content: ;
                .comments-section__headshot-container{
                    width: 15%;
                    padding-top:2%;
                    display: flex;
                    justify-content: center;
                    // height: 100%;
                    
                    .comments-section__headshot--portrait{
                        position:relative;
                        overflow: hidden;
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                        // background-image: url(/assets/images/Mohan-muruge.jpg);
                        background-color: $color-secondary-bandsite-mercury;
                        background-size: cover;
                        

                        @include tablet{
                            max-width: 48px;
                            max-height: 48px;
                        }
                        .comments-section__headshot{
                            height: 100%;
                            width: auto;                                      
                        }
                    }
                }
                
                .new-comment-form{
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    //Text areas
                    .fieldset{
                        // width: 100%;
                    
                        display: flex;
                        flex-direction: column;
                        //Found within the text areas (above)
                        //flex not affected by new-comment-form
                        &__title{
                            @extend .label;
                            text-transform: uppercase;
                            width: 100%;
                            font-weight: bold;
                            // flex-grow: 1;
                        }

                        &__label{

                           input, textarea{
                            background-color: red;
//todo
                           }

                            #full-name{

                            }

                            #comment-text{
                                
                            }
                        }

                        &__button{
                            text-transform: uppercase;
                            @extend .button;
                            
                            
                        }
                    }

                }
            }

            &__container{
                .comment-section__item{
                
                }
            }
        }
    }
}

