@font-face {
  font-family: "Avenir-Regular";
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTPro.ttf") format("truetype");
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTProDemi.ttf") format("truetype");
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTProBold.ttf") format("truetype");
  src: url("/assets/fonts/Alternative-Fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
.page-header, .hero__section .hero__title {
  font-size: 60px;
  line-height: 68px;
  font-family: "Avenir-Bold";
}
@media (max-width: 767px) {
  .page-header, .hero__section .hero__title {
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir-Bold";
  }
}

.section-header, .main .about .musicians-intro__title, .main .photo-gallery__title, .footer .social-media__title {
  font-size: 36px;
  line-height: 44px;
  font-family: "Avenir-Bold";
}
@media (max-width: 767px) {
  .section-header, .main .about .musicians-intro__title, .main .photo-gallery__title, .footer .social-media__title {
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir-Bold";
  }
}

.subheader, .main .about .musicians-intro__container .musicians-intro__quote, .main .about .musicians-intro__container .musicians-intro__quote-author, .main .about .bio__title, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__affiliation, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__name, .header .navigation__ulist .navigation__item {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir-Demi";
}
@media (max-width: 767px) {
  .subheader, .main .about .musicians-intro__container .musicians-intro__quote, .main .about .musicians-intro__container .musicians-intro__quote-author, .main .about .bio__title, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__affiliation, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__name, .header .navigation__ulist .navigation__item {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir-Demi";
  }
}

.body-copy, .main .about .bio__text-container .bio__text {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-Regular";
}
@media (max-width: 767px) {
  .body-copy, .main .about .bio__text-container .bio__text {
    font-size: 13px;
    line-height: 18px;
    font-family: "Avenir-Regular";
  }
}

.footer-copy, .footer .copyright .copyright__text, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__email, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__location-line-two, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__location-line-one {
  font-size: 14px;
  line-height: 20px;
  font-family: "Avenir-Regular";
}
@media (max-width: 767px) {
  .footer-copy, .footer .copyright .copyright__text, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__email, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__location-line-two, .footer .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__location-line-one {
    font-size: 13px;
    line-height: 18px;
    font-family: "Avenir-Regular";
  }
}

.label-or-button {
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir-Bold";
}
@media (max-width: 767px) {
  .label-or-button {
    font-size: 10px;
    line-height: 20px;
    font-family: "Avenir-Bold";
  }
}

.headline-spacing, .main .about .musicians-intro__title, .main .about .musicians-intro__container, .main .about .bio__title, .main .photo-gallery__title, .footer .social-media__title, .header {
  padding: 48px 0 36px 0;
}
@media (max-width: 767px) {
  .headline-spacing, .main .about .musicians-intro__title, .main .about .musicians-intro__container, .main .about .bio__title, .main .photo-gallery__title, .footer .social-media__title, .header {
    padding: 24px 0 16px 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
.header .navigation {
  width: 100%;
}
.header .navigation__ulist {
  display: flex;
  width: 100%;
}
.header .navigation__ulist .navigation__item {
  width: 50%;
  text-align: center;
}
.header .navigation__ulist .navigation__item .navigation__link {
  color: #E1E1E1;
  border-bottom: solid transparent 2px;
  display: block;
  padding-bottom: 8px;
  width: 100%;
}
.header .navigation__ulist .navigation__item .navigation__link:hover {
  border-bottom: solid white 2px;
  color: #FFFFFF;
}
.header .navigation__ulist .navigation__item .navigation__link.active-page {
  border-bottom: solid white 2px;
  color: #FFFFFF;
  font-weight: bold;
}

.footer {
  background-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 0 36px;
  }
}
.footer .social-media {
  display: flex;
  flex-direction: column;
}
.footer .social-media__title {
  color: #FFFFFF;
}
.footer .social-media__icon-container {
  display: flex;
}
@media (max-width: 767px) {
  .footer .social-media__icon-container .social-media__icon {
    padding: 0 32px 16px 0px;
  }
}
.footer .business-contacts {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer .business-contacts {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .footer .business-contacts__contact-profile {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .footer .business-contacts__contact-profile .business-contacts__contact-group {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .footer .copyright .copyright__text {
    margin-bottom: 16px;
  }
}

.logo__container, .logo__footer-container {
  background-color: #323232;
  max-width: 120px;
  max-height: 20px;
}
@media (max-width: 767px) {
  .logo__container, .logo__footer-container {
    margin-bottom: 16px;
  }
}
.logo__container .logo__link .logo, .logo__footer-container .logo__link .logo {
  height: 100%;
  width: 100%;
}

.hero__section {
  position: relative;
  display: flex;
  align-items: center;
}
.hero__section .hero__image {
  width: 100%;
}
.hero__section .hero__overlay {
  position: absolute;
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
  inset: 0;
}
.hero__section .hero__title {
  position: absolute;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .hero__section .hero__title {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .main .about {
    padding: 0 16px;
  }
}
.main .about .musicians-intro__title {
  color: #323232;
}
.main .about .musicians-intro__container {
  padding-bottom: 0;
}
.main .about .musicians-intro__container .musicians-intro__quote {
  color: #323232;
}
.main .about .musicians-intro__container .musicians-intro__quote-author {
  color: #323232;
}
.main .about .bio__title {
  color: #000000;
}
.main .about .bio__text-container {
  display: flex;
}
@media (max-width: 767px) {
  .main .about .bio__text-container {
    flex-direction: column;
  }
}
.main .about .bio__text-container .bio__text {
  display: block;
  color: #323232;
}
@media (max-width: 767px) {
  .main .about .bio__text-container .bio__text {
    margin-bottom: 16px;
  }
}
.main .photo-gallery {
  background-color: #FAFAFA;
}
@media (max-width: 767px) {
  .main .photo-gallery {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .main .photo-gallery {
    padding: 0 36px 36px 36px;
  }
}
.main .photo-gallery__title {
  color: #323232;
}
.main .photo-gallery__container {
  display: flex;
}
@media (max-width: 767px) {
  .main .photo-gallery__container {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .main .photo-gallery__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .main .photo-gallery__container .photo-gallery__item {
    flex-basis: 300px;
  }
}
@media (max-width: 767px) {
  .main .photo-gallery__container .photo-gallery__item .photo-gallery__image {
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .main .photo-gallery__container .photo-gallery__item .photo-gallery__image {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: middle;
    border-radius: 5px;
  }
}/*# sourceMappingURL=bio.css.map */