* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
  margin: 0;
  padding: 0;
  font-weight: unset;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
}
.page-header, .hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  .page-header, .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 500;
  }
}

.section-header, .main .about__section-header, .main .photo-gallery-format-container .photo-gallery__title, .main .comments-format-container .comments-section__title, .footer .footer-top__left-container .social-media__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  .section-header, .main .about__section-header, .main .photo-gallery-format-container .photo-gallery__title, .main .comments-format-container .comments-section__title, .footer .footer-top__left-container .social-media__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 500;
  }
}

.subheader, .main .about__quote-container .about__quote, .main .about__quote-container .about__quote-author, .main .about__bio-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  .subheader, .main .about__quote-container .about__quote, .main .about__quote-container .about__quote-author, .main .about__bio-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 500;
  }
}

.main .comments-format-container .comments-section .new-comment__form .fieldset__label input::-moz-placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::-moz-placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}

.body-copy, .main .about__bio-text-container .about__bio-text, .main .comments-format-container .comments-section .new-comment__form .fieldset__title, .main .comments-format-container .comments-section .new-comment__form .fieldset__label input, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea, .main .comments-format-container .comments-section .new-comment__form .fieldset__label input::placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::placeholder, .main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container, .header .navigation__ulist .navigation__item {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main .comments-format-container .comments-section .new-comment__form .fieldset__label input::-moz-placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 400;
  }
  .body-copy, .main .about__bio-text-container .about__bio-text, .main .comments-format-container .comments-section .new-comment__form .fieldset__title, .main .comments-format-container .comments-section .new-comment__form .fieldset__label input, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea, .main .comments-format-container .comments-section .new-comment__form .fieldset__label input::placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::placeholder, .main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container, .header .navigation__ulist .navigation__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 400;
  }
}

.footer-copy, .footer .footer-bottom .copyright .copyright__text, .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-copy, .footer .footer-bottom .copyright .copyright__text, .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 400;
  }
}

.label, .button, .main .comments-format-container .comments-section .new-comment__form .fieldset__button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  .label, .button, .main .comments-format-container .comments-section .new-comment__form .fieldset__button {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 500;
  }
}

.button, .main .comments-format-container .comments-section .new-comment__form .fieldset__button {
  height: 2.5rem;
  border-radius: 0.25rem;
  padding: 0 2rem;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .button, .main .comments-format-container .comments-section .new-comment__form .fieldset__button {
    min-width: 9.375rem;
    width: 10%;
  }
}
.button:hover, .main .comments-format-container .comments-section .new-comment__form .fieldset__button:hover {
  background-color: #000000;
}

.headshot-container {
  width: 15%;
  padding-top: 2.5rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.headline-spacing, .main .about__section-header, .main .about__quote-container .about__quote, .main .about__bio-title, .main .photo-gallery-format-container .photo-gallery__title, .main .comments-format-container .comments-section__title, .footer .footer-top__left-container .social-media__title {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .headline-spacing, .main .about__section-header, .main .about__quote-container .about__quote, .main .about__bio-title, .main .photo-gallery-format-container .photo-gallery__title, .main .comments-format-container .comments-section__title, .footer .footer-top__left-container .social-media__title {
    padding: 3rem 0 2.25rem 0;
  }
}

.margin-format, .main .about__section-header, .main .about, .main .photo-gallery-format-container .photo-gallery, .main .comments-format-container .comments-section, .footer .footer-bottom, .footer .footer-top {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .margin-format, .main .about__section-header, .main .about, .main .photo-gallery-format-container .photo-gallery, .main .comments-format-container .comments-section, .footer .footer-bottom, .footer .footer-top {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .margin-format, .main .about__section-header, .main .about, .main .photo-gallery-format-container .photo-gallery, .main .comments-format-container .comments-section, .footer .footer-bottom, .footer .footer-top {
    margin: 0 10vw;
  }
}

.padding-format, .comment-section__container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .padding-format, .comment-section__container {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .padding-format, .comment-section__container {
    padding: 0 10vw;
  }
}

.show-list-padding-format {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .show-list-padding-format {
    padding: 0 1.25rem;
  }
}

.bold {
  font-weight: 900;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 0;
  }
  .header > * {
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .header > .logo__container, .header > .logo__footer-container--top, .header > .logo__footer-container--bottom {
    margin-left: 10vw;
  }
}
.header .navigation {
  width: 100%;
}
@media (min-width: 768px) {
  .header .navigation {
    width: unset;
  }
}
.header .navigation__ulist {
  display: flex;
  width: 100%;
}
.header .navigation__ulist .navigation__item {
  width: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .header .navigation__ulist .navigation__item {
    margin-right: 2rem;
  }
}
.header .navigation__ulist .navigation__item .navigation__link {
  color: #E1E1E1;
  border-bottom: solid transparent 0.125rem;
  display: block;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .header .navigation__ulist .navigation__item .navigation__link {
    padding: 1.5rem 0;
  }
}
.header .navigation__ulist .navigation__item .navigation__link:hover {
  border-bottom: solid white 0.125rem;
  color: #FFFFFF;
}
.header .navigation__ulist .navigation__item .navigation__link.active-page {
  border-bottom: solid white 0.125rem;
  color: #FFFFFF;
  font-weight: 500;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: last center;
}
.footer .footer-top__left-container .social-media {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer .footer-top__left-container .social-media {
    flex-direction: row;
    align-items: center;
  }
}
.footer .footer-top__left-container .social-media__title {
  color: #FFFFFF;
  margin-right: 2rem;
}
.footer .footer-top__left-container .social-media__icon-container {
  display: flex;
}
.footer .footer-top__left-container .social-media__icon-container .social-media__icon {
  padding: 0 2rem 1rem 0;
}
@media (min-width: 768px) {
  .footer .footer-top__left-container .social-media__icon-container .social-media__icon {
    padding: 0 2rem 0 0;
  }
}
.footer .footer-top__left-container .social-media__icon-container .social-media__icon .social-media__icon__link .social-media__icon__image {
  height: 1.5em;
}
@media (max-width: 767px) {
  .footer .footer-top__right-container {
    display: none;
  }
}
.footer .footer-bottom {
  display: flex;
  flex-direction: column;
}
.footer .footer-bottom .business-contacts {
  display: flex;
  margin-bottom: 2.5rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts {
    margin-bottom: 2.25rem;
    flex-direction: row;
  }
}
.footer .footer-bottom .business-contacts__contact-profile {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts__contact-profile {
    margin-bottom: 2.5rem;
    min-width: 15.25rem;
  }
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
    margin-bottom: 1.5rem;
  }
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__name {
  font-weight: 500;
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__affiliation {
  font-weight: 500;
}
.footer .footer-bottom .copyright .copyright__text {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .copyright .copyright__text {
    margin-bottom: 2.25rem;
  }
}
.footer .logo__container, .footer .logo__footer-container--top, .footer .logo__footer-container--bottom {
  background-color: #323232;
  max-width: 7.5rem;
  max-height: 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .logo__container, .footer .logo__footer-container--top, .footer .logo__footer-container--bottom {
    margin-bottom: unset;
  }
}

@media (min-width: 768px) {
  .logo__footer-container--bottom {
    display: none;
  }
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
}
.hero__image {
  width: 100%;
}
.hero__overlay {
  position: absolute;
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
  inset: 0;
}
.hero__title {
  position: absolute;
  padding-left: 1rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__title {
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 10vw;
  }
}

.main .about__section-header {
  color: #323232;
}
.main .about {
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .main .about {
    margin: 0 10vw 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main .about {
    margin: 0 15vw 2.25rem;
  }
}
.main .about__quote-container .about__quote {
  padding-bottom: 1rem;
  color: #323232;
}
.main .about__quote-container .about__quote-author {
  color: #323232;
}
@media (min-width: 768px) {
  .main .about__quote-container .about__quote-author {
    font-size: 1.2rem;
  }
}
.main .about__bio-title {
  color: #000000;
}
.main .about__bio-text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main .about__bio-text-container {
    flex-direction: row;
  }
}
.main .about__bio-text-container .about__bio-text {
  display: block;
  color: #323232;
}
@media (min-width: 768px) {
  .main .about__bio-text-container .about__bio-text {
    max-width: 47%;
  }
}
@media (max-width: 767px) {
  .main .about__bio-text-container .about__bio-text {
    margin-bottom: 1rem;
  }
}
.main .photo-gallery-format-container {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .main .photo-gallery-format-container .photo-gallery {
    padding-bottom: 2.25rem;
  }
}
.main .photo-gallery-format-container .photo-gallery__title {
  color: #323232;
}
.main .photo-gallery-format-container .photo-gallery__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main .photo-gallery-format-container .photo-gallery__container {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .main .photo-gallery-format-container .photo-gallery__container .photo-gallery__item {
    flex-grow: 1;
    flex-basis: 30%;
  }
}
@media (max-width: 767px) {
  .main .photo-gallery-format-container .photo-gallery__container .photo-gallery__item .photo-gallery__image {
    margin-bottom: 1rem;
  }
}
.main .comments-format-container {
  background-color: #FFFFFF;
}
.main .comments-format-container .comments-section {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .main .comments-format-container .comments-section {
    padding-bottom: 2.25rem;
  }
}
.main .comments-format-container .comments-section__title {
  color: #323232;
}
.main .comments-format-container .comments-section .new-comment {
  display: flex;
  border-bottom: #E1E1E1 solid 0.0625rem;
}
.main .comments-format-container .comments-section .new-comment__headshot-container {
  padding-top: 2.5rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
.main .comments-format-container .comments-section .new-comment__headshot-container .new-comment__headshot-portrait {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #E1E1E1;
  background-size: cover;
}
@media (min-width: 768px) {
  .main .comments-format-container .comments-section .new-comment__headshot-container .new-comment__headshot-portrait {
    max-width: 3rem;
    max-height: 3rem;
    width: 3rem;
    height: 3rem;
  }
}
.main .comments-format-container .comments-section .new-comment__headshot-container .new-comment__headshot-portrait .new-comment__headshot {
  height: 100%;
  width: auto;
}
.main .comments-format-container .comments-section .new-comment__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset {
  padding: 0;
  border: none;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__title {
  text-transform: uppercase;
  width: 100%;
  color: #AFAFAF;
  padding: 0;
  margin: 0;
  line-height: unset;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__label input, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea {
  background-color: #FAFAFA;
  width: 100%;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
}
@media (min-width: 768px) {
  .main .comments-format-container .comments-section .new-comment__form .fieldset__label input, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea {
    min-height: 3rem;
    padding: 1rem;
  }
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__label input::-moz-placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::-moz-placeholder {
  color: #323232;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__label input::placeholder, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea::placeholder {
  color: #323232;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__label input:active, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea:active {
  border-color: #323232;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__label input:user-invalid, .main .comments-format-container .comments-section .new-comment__form .fieldset__label textarea:user-invalid {
  border-color: #D22D2D;
}
.main .comments-format-container .comments-section .new-comment__form .fieldset__button {
  text-transform: uppercase;
  align-self: flex-end;
}
.main .comments-format-container .comments-section .comment-entry__container {
  display: flex;
  flex-direction: column;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry {
  display: flex;
  position: relative;
  border-bottom: 0.0625rem #E1E1E1 solid;
  padding: 0.5rem 0;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry__headshot-container {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry__headshot-container .comment-entry__headshot-portrait {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #E1E1E1;
  background-size: cover;
}
@media (min-width: 768px) {
  .main .comments-format-container .comments-section .comment-entry__container .comment-entry__headshot-container .comment-entry__headshot-portrait {
    max-width: 3rem;
    max-height: 3rem;
    width: 3rem;
    height: 3rem;
  }
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #323232;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container .comment-entry__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container .comment-entry__info .comment-entry__name {
  padding-bottom: 0.5rem;
  font-weight: 500;
}
.main .comments-format-container .comments-section .comment-entry__container .comment-entry .comment-entry__comment-container .comment-entry__info .comment-entry__timestamp {
  color: #AFAFAF;
}/*# sourceMappingURL=bio.css.map */