* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
.page-header, .hero__overlay .hero__band-info .hero__album-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 768px) {
  .page-header, .hero__overlay .hero__band-info .hero__album-name {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 700;
  }
}

.section-header, .hero__overlay .hero__band-info .hero__band, .main .shows__title, .footer .footer-top__left-container .social-media__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section-header, .hero__overlay .hero__band-info .hero__band, .main .shows__title, .footer .footer-top__left-container .social-media__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 700;
  }
}

.subheader, .header .navigation__ulist .navigation__item {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 600;
}
@media (min-width: 768px) {
  .subheader, .header .navigation__ulist .navigation__item {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 600;
  }
}

.body-copy, .main .shows__container .show__info .show__info-item {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .body-copy, .main .shows__container .show__info .show__info-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 400;
  }
}

.footer-copy, .footer .footer-bottom .copyright .copyright__text, .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-copy, .footer .footer-bottom .copyright .copyright__text, .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 400;
  }
}

.label, .main .shows__container .show__info .show__info-header, .button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 768px) {
  .label, .main .shows__container .show__info .show__info-header, .button {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: "Avenir", Arial, sans-serif;
    font-weight: 700;
  }
}

.button {
  height: 40px;
  border-radius: 4px;
  padding: 0 32px;
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .button {
    min-width: 150px;
  }
}
.button:hover {
  background-color: #000000;
}

.headshot-container {
  width: 15%;
  padding-top: 40px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.headline-spacing, .main .shows__title, .footer .footer-top__left-container .social-media__title {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .headline-spacing, .main .shows__title, .footer .footer-top__left-container .social-media__title {
    padding: 3rem 0 2.25rem 0;
  }
}

.margin-format, .footer .footer-bottom, .footer .footer-top {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .margin-format, .footer .footer-bottom, .footer .footer-top {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .margin-format, .footer .footer-bottom, .footer .footer-top {
    margin: 0 10vw;
  }
}

.padding-format, .hero__overlay, .main {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .padding-format, .hero__overlay, .main {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .padding-format, .hero__overlay, .main {
    padding: 0 10vw;
  }
}

.bold {
  font-weight: 900;
}

.hr {
  border: none;
  border-top: 1px solid red;
  width: 100%;
  margin-left: 9%;
  overflow: hidden;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 0;
  }
  .header > * {
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .header > .logo__container, .header > .logo__footer-container--top, .header > .logo__footer-container--bottom {
    margin-left: 10vw;
  }
}
.header .navigation {
  width: 100%;
}
@media (min-width: 768px) {
  .header .navigation {
    width: unset;
  }
}
.header .navigation__ulist {
  display: flex;
  width: 100%;
}
.header .navigation__ulist .navigation__item {
  width: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .header .navigation__ulist .navigation__item {
    margin-right: 2rem;
  }
}
.header .navigation__ulist .navigation__item .navigation__link {
  color: #E1E1E1;
  border-bottom: solid transparent 2px;
  display: block;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .header .navigation__ulist .navigation__item .navigation__link {
    padding: 1.5rem 0;
  }
}
.header .navigation__ulist .navigation__item .navigation__link:hover {
  border-bottom: solid white 2px;
  color: #FFFFFF;
}
.header .navigation__ulist .navigation__item .navigation__link.active-page {
  border-bottom: solid white 2px;
  color: #FFFFFF;
  font-weight: bold;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: last center;
}
.footer .footer-top__left-container .social-media {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer .footer-top__left-container .social-media {
    flex-direction: row;
    align-items: center;
  }
}
.footer .footer-top__left-container .social-media__title {
  color: #FFFFFF;
  margin-right: 2rem;
}
.footer .footer-top__left-container .social-media__icon-container {
  display: flex;
}
.footer .footer-top__left-container .social-media__icon-container .social-media__icon {
  padding: 0 2rem 1rem 0;
}
@media (min-width: 768px) {
  .footer .footer-top__left-container .social-media__icon-container .social-media__icon {
    padding: 0 2rem 0 0;
  }
}
.footer .footer-top__left-container .social-media__icon-container .social-media__icon .social-media__icon__link .social-media__icon__image {
  height: 1.5em;
}
@media (max-width: 767px) {
  .footer .footer-top__right-container {
    display: none;
  }
}
.footer .footer-bottom {
  display: flex;
  flex-direction: column;
}
.footer .footer-bottom .business-contacts {
  display: flex;
  margin-bottom: 2.5rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts {
    margin-bottom: 2.25rem;
    flex-direction: row;
  }
}
.footer .footer-bottom .business-contacts__contact-profile {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts__contact-profile {
    margin-bottom: 2.5rem;
    min-width: 15.25rem;
  }
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group {
    margin-bottom: 1.5rem;
  }
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__name {
  font-weight: bold;
}
.footer .footer-bottom .business-contacts__contact-profile .business-contacts__contact-group .business-contacts__affiliation {
  font-weight: bold;
}
.footer .footer-bottom .copyright .copyright__text {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-bottom .copyright .copyright__text {
    margin-bottom: 2.25rem;
  }
}
.footer .logo__container, .footer .logo__footer-container--top, .footer .logo__footer-container--bottom {
  background-color: #323232;
  max-width: 7.5rem;
  max-height: 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .logo__container, .footer .logo__footer-container--top, .footer .logo__footer-container--bottom {
    margin-bottom: unset;
  }
}

@media (min-width: 768px) {
  .logo__footer-container--bottom {
    display: none;
  }
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 80vw;
}
@media (min-width: 768px) {
  .hero {
    height: 60vw;
  }
}
.hero__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.hero__overlay {
  position: absolute;
  background: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
@media (min-width: 1280px) {
  .hero__overlay {
    padding: unset;
    padding: 0 10vw;
    flex-direction: row;
    align-items: center;
  }
}
.hero__overlay .hero__band-info {
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  inset: 0;
  flex-grow: 1;
  min-width: 275px;
}
@media (min-width: 768px) {
  .hero__overlay .hero__band-info {
    min-width: 525px;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .hero__overlay .hero__band-info {
    flex-grow: 0;
    width: 50%;
  }
}
.hero__overlay .hero__band-info .hero__band {
  font-size: 16px;
  font-weight: 100;
  color: #FFFFFF;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .hero__overlay .hero__band-info .hero__band {
    font-size: 25px;
    padding-bottom: 24px;
  }
}
.hero__overlay .hero__band-info .hero__album-name {
  line-height: unset;
  font-size: 28px;
  padding-bottom: 16px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__overlay .hero__band-info .hero__album-name {
    font-size: 60px;
    padding-bottom: 24px;
  }
}
.hero__overlay .hero__song-container {
  width: 100%;
  height: 40%;
}
@media (min-width: 768px) {
  .hero__overlay .hero__song-container {
    width: 60%;
    height: 30%;
  }
}
@media (min-width: 1280px) {
  .hero__overlay .hero__song-container {
    height: 20%;
    width: 80%;
    padding: 0 5%;
  }
}
.main .shows {
  display: flex;
  flex-direction: column;
}
.main .shows__container .show {
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main .shows__container .show {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.main .shows__container .show__info {
  margin: 16px 0;
  width: 25%;
}
.main .shows__container .show__info .show__info-header {
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
  color: #AFAFAF;
  padding: 0;
  margin: 0;
  line-height: unset;
}
@media (min-width: 768px) {
  .main .shows__container .show__info .show__info-header {
    display: none;
  }
}
.main .shows__container .show__info .show__info-item.bold {
  font-weight: bolder;
}
.main .shows__container .show__info .button {
  width: 100%;
  font-size: 16px;
}/*# sourceMappingURL=shows.css.map */